@model Actor
@{
    ViewData["Title"] = "Actors";
}

<form action="/submit" method="post" class="justify-content-center">
    <div class="row col-5 margin justify-content-center">
    
    <input type="text" name="name" value="" placeholder="Name" />


        <input type="type" name="bio" value="" placeholder="Bio" />



        <input type="type" name="name" value="" placeholder="" />

        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-primary">Primary</button>
    </div>
</form>